@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --primary: 151.8deg 47.1% 40.8%;
    --primary-foreground: 355.7 100% 97.3%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 142.1 76.2% 36.3%;
    --radius: 0.75rem;
  }
}

/* clerk form design */

.cl-footer div:last-child {
  display: none;
}

.cl-form {
  gap: 24px;
}

.cl-formFieldInput {
  height: 36px;
}

.cl-formButtonPrimary {
  height: 36px;
  background: hsl(151.8deg 47.1% 40.8%);
  box-shadow: 0 !important;
}

.cl-formButtonPrimary:hover {
  background: hsl(151.8deg 47.1% 40.8% / 90%);
}

.cl-formButtonPrimary .cl-buttonArrowIcon {
  display: none;
}

.cl-formButtonPrimary[data-variant='solid'][data-color='primary'] {
  box-shadow: none;
}

.cl-socialButtonsBlockButton {
  height: 36px;
}

.cl-socialButtonsBlockButtonText {
  font-weight: 600;
}
